* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}


body {
    background-color: rgb(0, 0, 0);
}

.logo {
    gap:100px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/infinity.jpg);
    background-position: center;
    background-size:cover;
}


.campo_log {
    height: 600px;
    justify-content: center;
    align-items: center;
}

.email,.senha {
    padding: 20px;
    width:270px;
    background-color: transparent;
    color:rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    margin-bottom: -20px;
    margin-top: -20px;
    padding-left:50px;
}

.button {
    background-color: rgb(94, 184, 109);
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 20px;
    border: none;
    text-transform:uppercase;
    margin-top: 30px;
    border-radius: 5px;
    transition:0.5s ease-in-out;
    margin-right: 10px;
}

.button img {
    height: 15px;
    width:15px;
}

.button:hover {
    transform: scale(1.1);
}

h1  {
    font-size: 400%;
    color: whitesmoke;
    text-transform: uppercase;
    font-weight:bold;
    transition: 1.0s ease-in-out;
    margin-left: 15%;

}

.link {
    margin-top: 30px;
}

a {
    color:rgb(94, 184, 109);
    margin-top: 30px;
    text-decoration: none;
    font-size: 12px;
    margin-top: 30px;
}

.icons img {
    height: 30px;
    width: 30px;
    margin-top: 40px;
    margin-right:20px;
    transition: 0.s ease-in-out;
}

.icons img:hover {
    transform:scale(1.5);
}

.icons img:not(:hover) {
    opacity: 0.3;
}

a:hover {
    color: rgba(255, 255, 255, 0.788);
}

.bar {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width:  1px;
    column-gap:50px;
}


footer {
    text-align:center;
    font-size:8px;
    color:rgb(255, 255, 255);
    margin-top: -30px;
}

.submit_line button{
    height: 50px;
    width: 50px;
    position:relative;top:-50px;
    background-color: transparent;
    border:none;
}

.icon {
    color:white;
    font-size:20px;
}

input::placeholder {
    position:relative;
}

.icon2 {
    color:white;
    font-size:20px;
}